header{
  margin: 2 auto;
  padding:2rem 3rem;
  display: flex;
  align-items:center;
  justify-content:space-between;
  border-bottom:0.2rem solid rgba(0,0,0,0.05);
  background-color: rgba(255,255,255,0.1);
}
h1{
  font-size:3rem;
  color: black !important;
}
.input-box{
  position:relative;
}
header > div > input{
  width: 30vw;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  border-radius: 1.5rem;
  border:none;
  box-shadow: 0 0.4rem 0.3rem rgba(0,0,0,0.2);
}
header > div > input::placeholder{
  font-weight: 900;
  font-size: 1.2rem;
}
.input-search-icon{
  font-size:1.5rem;
  top:50%;
  transform: translateY(-50%);
  left:1.2rem;
  position: absolute;
}
a{
  text-decoration: none;
  color: rgba(0,0,0,0.2);
  transition: 200ms all linear;
}
a:visited{
  color: rgba(0,0,0,0.2)
}
a:hover{
  text-decoration: none;
  color: rgba(0,0,0,0.5)
}
a:visited:hover{
  color: rgba(0,0,0,0.5)
}
header > div > button {
  font-size:2rem;
  border:none;
  background-color:transparent;
  color:rgba(0,0,0,0.2);
  font-weight: bolder;
  transition: 200ms all linear
}
.search-icon{
  display: none;
}
header > div > button:hover{
  color:rgba(0,0,0,0.5);
} 
.account-wrapper{
  display:flex;
  gap:1.2rem
}
.cart-icon{
  position: relative;
}
.cart-counter-dot{
  display: block;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 2rem;
  font-size: 0.7rem;
  padding: 10%;
  font-weight: bolder;
  top:40%;
  left: 50%;
}

@media (max-width: 1000px){
  
  .input-box > input{
   min-width:300px; 
  }

  h1{
    font-size:1.5rem;
  }

  header{
    padding: 0.9rem 1.2rem;
  }
  .account-button{
  font-size: 1.2rem;
}
}

@media (max-width: 650px){
  .input-on-site{
    top: 1rem !important;
  }
  .input-box{
    transition: 200ms all ease-in-out;
    top: -10%;
    left: 50%; 
    transform: translateX(-50%);
    position: absolute;
  }
  .search-icon{
    display: inline;
  }
}
