.form-container{
  margin:7rem auto;
  border-radius: 1rem;
  width: 50vw;
  height: auto;
  padding: 4rem;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 1rem rgba(0,0,0,0.01);
}
.form-container > h4{
  font-size: 1.3rem;;
  margin-bottom: 1.5rem;
  color:grey;
  font-weight: bold;
}
.form-container > form{
  display: flex;
  flex-direction: column;
}
.form-container > form > label{
  color: grey;
  margin-bottom: 0.3rem;
}
.form-container > form > input{
  margin-bottom: 2rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid lightgrey;
  width: 70%;
}

.form-container > form > label::after{
 content: "*";
 color: rgb(225,0,235);
}

.form-container > form > textarea{
  margin-bottom: 1.2rem;
   font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid lightgrey;
 resize: none;
}
.form-container > form > button{
  font-size: 1.5rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  width:40%;
  color: white;
  background-color: slateblue;
  margin-left: 60%; 
  transition: 250ms all ease-out;
}

.form-container > form > button:hover{
  background-color: white;
  color: slateblue;
  box-shadow: 0 0 1.5rem slateblue;
}

@media (max-width: 1500px) {
  .form-container{
    padding: 1.5rem;
    width: 90%;
    max-width: 750px;
    min-width: 320px;
  }
  .form-container > form > input{
    width: 100%;
    max-width: 500px;
  }
}
